<div fxLayoutAlign='space-around center'>
    <div fxFlex=100 *ngIf='noCart' fxLayoutAlign='center center'>
        <div class="empty">
            <b>Your Order is Completed</b>
        </div>
    </div>
    <div class="main" *ngIf='!noCart && selected' fxFlex='80' fxFlex.xs='90'>
        <div fxLayoutAlign='center start'>
            <h2>Fundoo Cart</h2>
        </div>
        <div>
            <div fxLayout="row" fxLayoutGap="2%">
                <mat-chip-list>
                    <mat-chip style="background-color: #fb0">fundoo</mat-chip>
                </mat-chip-list>
                <div fxFlex="30" fxLayout="column" fxLayoutGap="5%">
                    <div></div>
                    <div fxLayout="row">
                        <mat-icon [ngClass]="firstCss ? 'cart' : forCss ? 'secndPlace': done? 'thirdPlace': 'noclass'">shopping_cart
                        </mat-icon>

                        <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <div>
            <h2>Shopping Cart</h2>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout='row' fxLayout.sm='column' fxLayout.xs='column'>
            <div fxLayoutAlign.xs='center center'>
                <div fxLayoutAlign='center start' style="margin-top:25px;margin-left: 23px" class="rate">
                    ${{selected.price}}/month</div>
            </div>

            <div fxLayout.xs='row' fxLayout='row'>

                <div fxLayout='column' style="margin-top:25px;margin-left: 10px">
                    <div>Advance Pack Details</div>
                    <div class="details">
                        <ul>
                            <li>{{selected.description}} </li>
                        </ul>
                    </div>
                </div>

                <div style="margin-top:25px" fxLayout='column'>
                    <div><b>price</b></div>
                    <div>$ {{selected.price}}</div>
                </div>
                <div style="margin:25px" fxLayout='column'>
                    <div><b>Validity</b></div>
                    <div>per month</div>
                </div>
            </div>
            <div fxLayoutAlign.xs='space-around center' fxFlex='100'>
                <div class="total" fxLayoutAlign='center center' fxLayout='column' *ngIf='cond !="complete" && !paymentStatus'>
                    <div>Subtotal(1 item) : $ {{selected.price}} </div>
                    <button mat-stroked-button color='warn' *ngIf='cond=="signin" && !done' (click)='cond="review"' (click)='value=50;forCss=true;firstCss=false'>Proceed to Checkout</button>
                    <button mat-stroked-button color='warn' *ngIf='cond=="review"' (click)='placeOrder()'>Place your
                        order</button>
                    <div *ngIf="paymentStatus">
                        <h1>Payment Done</h1>
                    </div>
                    <div *ngIf="!paymentStatus && cond=='signin'">
                        <h1>Pending</h1>
                    </div>
                </div>

            </div>
        </div>
        <div></div><br>

        <mat-divider></mat-divider>
        <div *ngIf='cond=="signin"' fxLayoutAlign='end end' style="margin-right:35px"><b>Subtotal(1 item) : $
                {{selected.price}}</b></div><br>
        <div *ngIf='cond=="review"'><textarea cols="30" rows="5" placeholder="Enter Your Address Here" [(ngModel)]='address'></textarea></div>
    </div>
</div>