@import "../../../scss/colors.scss";
.sample {
    background: transparent;
}

.textArea {
    background: transparent;
    border: none;
    outline: none;
    user-select: none;
}

.display-note {
    border-radius: 14px;
    padding: 16px;
}

.mat-icon {
    color: $color-darkGrey;
}

.mat-icon:hover {
    color: $color-black;
}

.display-note {
    .iconClass {
        opacity: 0;
    }
    .barpin {
        opacity: 0;
    }
    &:hover {
        .iconClass {
            opacity: 1;
        }
        .barpin {
            opacity: 1;
        }
    }
}

.description textarea {
    overflow: hidden;
}

.descriptionOpen textarea {
    overflow: scroll;
}

.cancelIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    cursor: pointer;
    ;
}