#registerPage{
    font-size: 25px;
}
@import '../../../styles.scss';

.visible{
    cursor: pointer;
}

.main{
    background: rgb(209, 209, 209);
    height: 100%;
}
.card{
    height: 100vh;
    min-height: 640px;
    min-width: 360px;
}