#registerPage {
    font-size: 25px;
}

@import '../../../scss/colors.scss';
@import '../../../styles.scss';
.visible {
    cursor: pointer;
}

.break {
    word-break: break-word;
}

.fontColor {
    color: $color-navyBlue
}