<!-- <div class="fixed" fxLayoutAlign="space-between start">

    <div [ngClass]="{'gridView':view,'listView':!view}" [fxLayout]="view?'row wrap':'column'" fxLayoutGap="10px" [fxLayoutAlign]="view? 'start start': 'space-around center'">

        <div *ngFor="let card of notes|search:(search?null:searchValue)">
            <app-card class="example-card" [card]="card" (removeEvent)="removeEvent($event,card)"></app-card>
        </div>

    </div>
</div> -->
<div *ngIf="view" fxLayoutAlign="center center">
    <div fxFlex="15" fxFlex.sm="10" fxFlex.xs="5">

    </div>
    <div fxFlex='70' fxFlex.sm="80">
        <!-- <div> -->
        <ngx-masonry [options]="masonryOptions" [updateLayout]="updateMasonryLayout">
            <div fxLayoutGap="1%">
                <div ngxMasonryItem *ngFor="let card of notes|search:(search?null:searchValue)" class="display">
                    <app-card class="example-card" [card]="card" (load)="updateMasonryLayout!=updateMasonryLayout" (removeEvent)="removeEvent($event,card)"></app-card>
                </div>
            </div>
        </ngx-masonry>
        <!-- </div> -->
    </div>
    <div fxFlex="15" fxFlex.sm="10" fxFlex.xs="5">

    </div>
</div>
<div *ngIf="!view" fxLayoutAlign="space-around stretch">

    <div fxLayout='column' fxLayoutAlign="center stretch" fxFlex="90" fxFlex.sm="90" fxLayoutGap="10px">
        <div *ngFor="let card of notes|search:(search?null:searchValue)">
            <app-card class="example-card" [view]='!view' [card]="card" (removeEvent)="removeEvent($event,card) "></app-card>
        </div>
    </div>
</div>