.display-note {
    box-sizing: border-box;
}

.fixed {
    width: 60vw;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.sample {
    background: transparent;
}

.textArea {
    background: transparent;
    border: none;
    outline: none;
    min-height: auto;
    resize: none;
}

.example-card {
    width: 240px;
    padding: 4px;
    margin-left: 20%;
}