@import "../../../scss/colors.scss";
.display-note {
    box-sizing: border-box;
}

.sample {
    background: transparent;
}

.textArea {
    background: transparent;
    border: none;
    outline: none;
    min-height: auto;
    resize: none;
}

.listView {
    flex-direction: column;
    flex: auto;
    flex-flow: column;
}

::ng-deep .temp {
    background-color: $color-black;
}

.display {
    margin-bottom: 10px;
}