.display-note {
    box-sizing: border-box;
}

// .gridView {}
.sample {
    background: transparent;
}

.textArea {
    background: transparent;
    border: none;
    outline: none;
    min-height: auto;
    resize: none;
}

.example-card {
    // max-width: 280px;
    padding: 4px;
    // margin-left: 20%;
}

// .test {
//     display: none;
//     padding: 1px;
//     flex: none;
// }