<div class="example-container">
    <ngx-loading [show]="loading"></ngx-loading>
    <mat-toolbar class="example-toolbar" fxLayoutAlign="space-between center">
        <div fxFlex="5" fxLayoutAlign="space-between center">
            <button mat-icon-button matTooltip="menu-bar" (click)="snav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
            <div *ngIf="innerWidth>600" fxFlex="10" fxLayout.gt-xs="row" fxFlex.gt="500px" fxLayout="row">
                <img id="img1" src="../../../assets/images/logo.png" />
                <div *ngIf="innerWidth>600" fxLayoutAlign="center center">
                    <h2>Fundoo</h2>
                </div>
            </div>
        </div>
        <div fxFlex="80" fxLayoutAlign="space-around center" *ngIf="innerWidth>600">
            <mat-form-field appearance="outline" [style.fontSize.px]="2" class="search">
                <button mat-icon-button>
					<mat-icon class="searchIcon">search</mat-icon>
				</button>
                <input fxFlex="90" (click)="navigateSearch()" [(ngModel)]="search" (keyup)="searchfor()" matInput placeholder="search" [style.fontSize.px]="18" class="searchText" autocomplete="off">
            </mat-form-field>
        </div>
        <div fxFlex="80" fxFlex.xs="60" fxLayoutAlign="space-around center" *ngIf="innerWidth<600">
            <mat-icon *ngIf="hide" class="searchIcon" (click)="showSearch()">search</mat-icon>
            <mat-form-field *ngIf="!hide" appearance="outline" [style.fontSize.px]="2" class="search">
                <button mat-icon-button>
					<mat-icon class="searchIcon">search</mat-icon>
				</button>
                <input fxFlex="90" (click)="navigateSearch()" [(ngModel)]="search" (keyup)="searchfor()" matInput placeholder="search" [style.fontSize.px]="18" class="searchText" autocomplete="off">
                <button mat-icon-button (click)="showSearch()">
					<mat-icon (click)=(navigateHome())>cancel</mat-icon>
				</button>
            </mat-form-field>
        </div>
        <div fxFlex="10">

        </div>
        <div fxFlex="15" fxLayoutAlign="space-around center" class="settingbtn">
            <button fxFlex="20" aria-label="Toggle sidenav" matTooltip="cart" mat-icon-button (click)="navigateCart()">
				<mat-icon>shopping_cart</mat-icon>
			</button>
            <button fxFlex="20" *ngIf="innerWidth>600" mat-icon-button color="basic" id="grid" (click)="changeView()" matTooltip="grid">
				<mat-icon *ngIf=view>view_stream</mat-icon>
				<mat-icon *ngIf=!view>view_module</mat-icon>
			</button>
            <div fxFlex="20" class="profilepic">
                <button *ngIf="newImage" (click)="$event.stopPropagation()" matTooltip="fundoo Account" mat-mini-fab [ngStyle]="{'background-image':'url('+img+')','background-size':'cover'}" [matMenuTriggerFor]="account" class="imageText">
				</button>
                <button *ngIf="!newImage" (click)="$event.stopPropagation()" matTooltip="fundoo Account" mat-mini-fab [matMenuTriggerFor]="account" class="imageText">
					{{email | uppercase | slice : 0 : 1 }}</button>
            </div>
        </div>
        <mat-menu #account="matMenu" fxLayoutGap="4px" fxLayoutAlign="center center" class="userMenu">
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="4px">
                <div>
                    <button *ngIf="!newImage" (click)="$event.stopPropagation()" (click)="openPicture(image)" matTooltip="Profile" mat-fab class="imageSelect">
                                {{email | uppercase | slice : 0 : 1 }}</button>
                    <button *ngIf="newImage" (click)="$event.stopPropagation()" (click)="openPicture(image)" matTooltip="Profile" mat-fab [ngStyle]="{'background-image': 'url(' + img + ')', 'background-size': 'cover'}" class="imageSelect">
					</button>
                </div>
                <div fxLayout="column" fxLayoutAlign="left left" class="settingBox">
                    <span class="usernameStyle">{{name}}</span>
                    <span class="emailStyle">{{email}}</span>
                </div>
            </div>
            <div fxLayoutAlign="center center">
                <button mat-raised-button (click)="logout()" color="primary" class="logoutButton">Log Out</button>
            </div>
        </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="innerWidth>600 ? 'side' : 'over'">
            <mat-list role="List">
                <mat-list-item role="listitem" id="note" (click)="navigateHome()" (click)=" header='notes'" class="navField" [ngClass]="{'highlight':header=='notes', 'normal':header!='notes'}">
                    <img id="img1" src="../../../assets/images/bulb.svg" />Note
                </mat-list-item>
                <mat-list-item role="listitem" id="rem" class="navField" (click)="navigateReminder()" (click)="header='reminder'" [ngClass]="{'highlight':header=='reminder', 'normal':header!='reminder'}">
                    <img id="img2" src="../../../assets/images/bell.svg" />Reminder
                </mat-list-item>
                <mat-divider></mat-divider>
                <p id="para">labels</p>
                <div *ngFor='let label of ArrayOfLabel'>
                    <mat-list-item class="navField" (click)="openLabelNotes(label.label)" (click)="header= label.label" [ngClass]="{'highlight':header==label.label, 'normal':header!=label.label}">
                        <mat-icon>label_outlined</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{label.label}}
                    </mat-list-item>
                </div>
                <mat-list-item role="listitem" id="lable" class="navField" (click)="openLabelDialog()" (click)="header='editLabel'" [ngClass]="{'highlight':header=='editLabel', 'normal':header!='editLabel'}">
                    <mat-icon id="edit">edit</mat-icon>
                    Edit label
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem" id="arch" class="navField" (click)="navigateArchive()" (click)="header='archive'" [ngClass]="{'highlight':header=='archive', 'normal':header!='archive'}">
                    <img id="img4" src="../../../assets/images/archive.svg" /> Archive
                </mat-list-item>
                <mat-list-item role="listitem" id="bin" class="navField" (click)="navigateTrash()" (click)="header='trash'" [ngClass]="{'highlight':header=='trash', 'normal':header!='trash'}">
                    <img id="img5" src="../../../assets/images/trash.svg" /> Trash
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>