<div fxLayout="column" style="padding:5px;height:80%;">
    <div mat-dialog-title>
        <span>Select Image</span>
    </div>
    <div class="body" fxLayout="column" fxLayoutAlign="space-around center">
        <button mat-button (click)="photoInput.click()">Select a photo from your computer</button>

        <input #photoInput type="file" style="display:none" (change)="fileChangeEvent($event)">

        <div *ngIf="imageChangedEvent.target.files[0]" fxLayoutAlign="space-around center">
            <img [src]="imageChangedEvent.target.value" />
        </div>

    </div>
    <div fxLayoutAlign="space-between center" fxLayout="row">
        <div style="padding:5px;">
            <button mat-raised-button color="primary" [mat-dialog-close]="{'image': imageChangedEvent}" (click)=setimage()>Save</button>
        </div>
        <div style="padding:5px;">
            <button mat-button [mat-dialog-close]="{'title':false}" cdkFocusInitial>Cancel</button>
        </div>

    </div>
</div>