@import '../../../scss/colors.scss';
.toolbar {
    background-color: $color-darkYellow;
}

.fontSize {
    font-size: 24px;
    color: $color-darkGrey;
}

.break {
    word-break: break-word;
    width: 210px;
    height: 260px;
    margin-top: -8%;
    margin-left: -5%;
}

.height {
    height: 500px
}

.margin-top {
    padding: 75px;
}

.margins-top {
    margin-top: 75px;
}

.fontColor {
    color: $color-navyBlue
}

.shadow {
    height: 350px;
    width: 270px;
    background-color: $color-darkGrey;
}

.cardClicked {
    height: 390px;
    width: 270px;
    background: $color-lightYellow;
}

.secondcard {
    word-break: break-word;
    width: 220px;
    height: 300px;
    margin-top: -8%;
    margin-left: -5%;
}

.whiteFont {
    padding: 15px;
    color: white;
    font-weight: bold;
}

.gray {
    color: #5f5f5f;
}

.select {
    &:hover {
        height: 390px;
        width: 260px;
        background-color: $color-darkYellow;
        transition: all 0.3s ease;
    }
}

.notSelect {
    height: 350px;
    width: 260px;
    background-color: $color-darkGrey;
}

.back {
    color: #0606f8;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}