@import '../../../scss/colors.scss';
@import'../../../styles.scss';
#loginPage {
    font-size: 25px;
}

.logo {
    padding: 5px;
}

.visible {
    cursor: pointer;
}

.main {
    background: $color-grey;
    height: 100%;
}

.card {
    height: 100vh;
    min-height: 640px;
    min-width: 360px;
}

.loginCard {
    border-radius: 12px;
}