@import "../../../scss/colors.scss";
.matcard {
    margin-top: 20px;
}

.maincard {
    width: 60%;
    color: $color-darkGrey;
    border: none;
    outline: none;
    user-select: none;
}

.addnote {
    width: 10px;
}

.matcard {
    margin-top: 30px;
    border-radius: 18px;
    box-shadow: 1px 1px 1px 1px $color-grey;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.title {
    margin-bottom: 20px;
    color: $color-darkGrey;
    border: none;
    outline: none;
    user-select: none;
}

.textArea {
    background: transparent;
    border: none;
    outline: none;
    user-select: none;
}

.takenote {
    margin-bottom: 10px;
    color: $color-darkGrey;
    border: none;
    outline: none;
    user-select: none;
}

.barpin {
    border: none;
    outline: none;
    user-select: none;
}

.mat-icon {
    color: $color-darkGrey;
}

.mat-icon:hover {
    color: $color-black;
}

.sample {
    background: transparent;
}