/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-bar-rating/themes/br-default-theme';
@import '~ngx-bar-rating/themes/br-movie-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-bar-rating/themes/br-square-theme';
@import './scss/colors.scss';
.visible {
    cursor: pointer;
}

.main {
    // background: rgb(209, 209, 209);
    height: 100%;
}

.card {
    // height: 100vh;
    min-height: 100vh;
    // min-width: 360px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.greySnackbar {
    color: rgb(184, 163, 45);
    font-weight: 200;
    border-radius: 18px;
    background-color: rgb(49, 4, 4);
}

.dark {
    background-color: rgb(88, 88, 88);
}