$color-red: #f28b82;
$color-green: #ccff90;
$color-oragnge: #fbbc04;
$color-yellow: #fff475;
$color-teal: #a7ffeb;
$color-blue:#cbf0f8;
$color-darkBlue: #aecbfa;
$color-purple: #d7aefb;
$color-pink:#fdcfe8;
$color-brown:#e6c9a8;
$color-grey:#e8eaed;
$color-darkGrey: #797978;
$color-black: black;
$color-lightYellow: #f5ec9e;
$color-darkYellow: #fb0;
$color-navyBlue: #2a499e